# SQLite Database Files
app.db
*.db-journal
*.db-shm
*.db-wal

# Environment Variables (Keeps your secret keys safe)
.env

# Deno specific
cov/
coverage/

# OS / Editor Files
.DS_Store
.vscode/
*.log
